/* ModernButton.css */

.modern-button {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 16px;
    background-color: transparent;
    border: 2px solid #f2ac7d;
    color: #f2ac7d;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease;
  }
  
/* .modern-button:hover {
  background-color: #f2ac7d;
  color: black;
  transform: translateY(-2px);
} */

.modern-button-inverted {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 16px;
  background-color: #f2ac7d; 
  border: 2px solid #f2ac7d; 
  /* background-color: #6c98e2; 
  border: 2px solid #6c98e2;  */
  color: #0a192f; /* Blue text color */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease;
}

.modern-button-inverted:hover {
    /* background-color: transparent;
    color: #64ffda;  */
    transform: translateY(-2px);
}

  
  /* Add any additional styles you need here */
  